
{% extends 'layout/base.html' %}
{% block content %}
<style>
    .h1 {
    fort-family: tahoma;
    text-align: center;
    color: red;
}
.sec-log{
    background-color: #eee;
    margin: 5% 20% ;
    display:flex;
}
.col1 >h3{
    padding: 20px;
    text-align: center;
}
.col1{
    width: 30%;
    background-color: #AFEEEE;
}
.col2{
    width: 50%
}
.col2 > img{
    width: 100%;
}
</style>
<h1 class="h1"> TRƯỜNG THPT TRẦN ĐẠI NGHĨA </h1>
{% if err_msg %}
<div class="alert alert-danger">
    <h4>{{ err_msg }}</h4>
</div>
{% endif %}
<section class="sec-log">
    <div class="col1">
         <h3>Đăng nhập</h3>
        <form  method="post" action="/login">
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Tên đăng nhập:</label>
                <input type="username" class="form-control" id="name" placeholder="Nhập tên đăng nhập" name="name">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu:</label>
                <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" name="password">
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Lưu mật khẩu
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </form>
    </div>
    <div class="col2">
             <img src="https://www.shutterstock.com/image-vector/building-high-school-american-european-260nw-1017174409.jpg">
    </div>
</section>
{% endblock %}