<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QLHS-NV</title>
    <link href="{{ url_for('static', filename='css/style-nav.css') }}"  rel="stylesheet" />
      <link href="{{ url_for('static', filename='css/school-staff.css') }}"  rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-name">
        <h4>TRANG NHÂN VIÊN TRƯỜNG</h4>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tiếp nhận học sinh</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lập danh sách lớp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Điều chỉnh danh sách lớp</a>
      </li>
    </ul>
  </div>
</nav>
<div class="functions">
  <div class="TNHS">
    <h2> Tiếp nhận học sinh</h2>
    <div class="form_tiepnhan">
    <form action="/action_page.php">
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
      </div>
  </div>

  <div class="LDSL">
    <h2> Lập danh sách lớp</h2>

  </div>
  <div class="DCDSL">
    <h2> Điều chỉnh danh sách lớp</h2>

  </div>
</div>
</div>
</body>
</html>