{% extends 'layout/base.html' %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>

               <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout">Xuất Bảng Điểm  </a>
                </li>

            </ul>
            <form class="d-flex" action="/">
                <input class="form-control me-2" name="keyword" type="text" placeholder="Nhập từ khóa...">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
        </div>
    </div>
</nav>
<form method="post" action="{{ url_for('get_scores')}}">
    <div class="container">
        <h1>Chọn Lớp Cần Nhập Điểm </h1>
        <select class="form-select">
            <option>12A2</option>
            <option>11A7</option>
            <option>10A5</option>
            <option></option>
        </select>
        <h3 style='text-align: center'>Chọn Môn Học Cần Nhập Điểm </h3>
        <select class="form-select">
            <option>Toán Học</option>
            <option>Văn Học</option>
            <option>Tiếng Anh</option>
            <option>Vật Lí</option>
            <option>Hóa Học</option>
            <option>Sinh Học</option>
        </select>

        <section class="showDSL">
            <h3 style='text-align: left'>Danh sách lớp: </h3>
            <table class="tb_dsl">
                <tr>
                    <th>STT</th>
                    <th>Họ tên</th>
                    <th>Điểm 15'</th>
                    <th>Điểm 1 tiết</th>
                    <th>Điểm thi</th>
                </tr>
                {% for stu in Student %}
                <tr>
                    <td>{{stu.id_stu}}</td>
                    <td>{{stu.name}}</td>
                    <td><input type="text" id="diem15" name="diem15"></td>
                    <td><input type="text" id="diem1t" name="diem1t"></td>
                    <td><input type="text" id="diemthi" name="diemthi"></td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-primary">SUBMIT</button>

        </section>

    </div>
</form>
<style>
    table.st{
        border-collapse: collapse ;
        width: 100%;

    }
    .container{
        width: 80%;
        margin:0 auto;
    }
</style>


<!--<div class="dropdown">-->
<!--  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">-->
<!--    Dropdown button-->
<!--  </button>-->
<!--  <ul class="dropdown-menu">-->
<!--    <li><a class="dropdown-item" href="#">Link 1</a></li>-->
<!--    <li><a class="dropdown-item" href="#">Link 2</a></li>-->
<!--    <li><a class="dropdown-item" href="#">Link 3</a></li>-->
<!--  </ul>-->
<!--</div>-->
{% endblock %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>QLHS-GV</title>-->
<!--    <link href="{{ url_for('static', filename='css/style-nav.css') }}"  rel="stylesheet" />-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--  <nav class="navbar navbar-expand-sm bg-light">-->

<!--  <div class="container-fluid">-->
<!--    &lt;!&ndash; Links &ndash;&gt;-->
<!--    <ul class="navbar-nav">-->
<!--      <li class="nav-name">-->
<!--        <h4>TRANG GIÁO VIÊN</h4>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Nhập điểm</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Xuất điểm</a>-->
<!--      </li>-->

<!--    </ul>-->
<!--  </div>-->

<!--</nav>-->
<!--</body>-->
<!--</html>-->