{% extends 'layout/base.html' %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>

            </ul>
            <form class="d-flex" action="/">
                <input class="form-control me-2" name="keyword" type="text" placeholder="Nhập từ khóa...">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
        </div>
    </div>
</nav>
<form method="post" action="{{ url_for('get_scores')}}">
    <div class="container">
        <h1>Chọn Lớp Cần Xuất Điểm </h1>
        <select class="form-select">
            <option>12A2</option>
            <option>11A7</option>
            <option>10A5</option>
            <option></option>
        </select>
        <h3 style='text-align: center'>Chọn Môn Học Cần Xuất Điểm  </h3>
        <select class="form-select">
            <option>Toán Học</option>
            <option>Văn Học</option>
            <option>Tiếng Anh</option>
            <option>Vật Lí</option>
            <option>Hóa Học</option>
            <option>Sinh Học</option>
        </select>
<div class="form_nhapdiem">
    <form action="/action_page.php">
        <section class="showDSL">
            <h3 style='text-align: left'>Danh sách lớp: </h3>
            <table class="tb_dsl">
                <tr>
                    <th>STT</th>
                    <th>Họ tên</th>
                    <th>Điểm 15'</th>
                    <th>Điểm 1 tiết</th>
                    <th>Điểm thi</th>
                </tr>
                {% for st in scores %}
                <tr>
                    <td>{{st.id_stu}}</td>
                    <td>{{st.name}}</td>
                    <td>{{st.diem15}}</td>
                    <td>{{st.diem1t}}</td>
                    <td>{{st.diemthi}}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </form>
</div>

</form>
<style>
    table.st{
        border-collapse: collapse ;
        width: 100%;

    }
    .container{
        width: 80%;
        margin:0 auto;
    }
</style>

{% endblock %}



